---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import LinkedinIcon from "../components/icons/Linkedin.astro";
import MailIcon from "../components/icons/Mail.astro";
import GithubIcon from "../components/icons/Github.astro";
import Socials from "../components/Socials.astro";
---

<Layout title="Portfolio de Julio García Salas - Estudiante de CC&TI">
  <main>
    <section class="w-full lg:w-[740px] mx-auto py-44">
      <img
        class="rounded-full w-12 h-12 mb-4"
        src="https://media.licdn.com/dms/image/C4E03AQF1D_gBh6bEhg/profile-displayphoto-shrink_200_200/0/1578967904286?e=2147483647&v=beta&t=iRuyp2YOgy-XQ3zrYo6PlwAt-gA7ODZblDd6tKEKaU4"
        alt="julio photo"
      />
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
        Soy Julio!<a
          href="https://youtube.com/hayser_tradeos"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
          ><Badge>Disponible para trabajar</Badge></a
        >
      </h1>
      <h2 class="text-2xl opacity-80 text-wrap">
        Estudiande de Ciencias en la Computación y Tecnologías de la Información
        en la Universidad Del Valle de Guatemala
      </h2>

      <nav class="flex gap-x-4">
        <Socials href="">
          <LinkedinIcon class="w-6 h-6" />
          Linkedin
        </Socials>
        <Socials href="">
          <GithubIcon class="w-6 h-6" />
          Github
        </Socials>
		<Socials href="">
			<MailIcon class="w-6 h-6" />
			garciasalasperezjulio@gmail.com
		  </Socials>
      </nav>
    </section>
  </main>
</Layout>
