---
import Layout from "../layouts/Layout.astro";
import LinkedinIcon from "../components/icons/Linkedin.astro";
import MailIcon from "../components/icons/Mail.astro";
import GithubIcon from "../components/icons/Github.astro";
import Socials from "../components/Socials.astro";
import Exptimeline from "../components/Exptimeline.astro";
import Bentoprojects from "../components/Bentoprojects.astro";
import Techstack from "../components/Techstack.astro";
---

<Layout title="Portfolio de Julio García Salas - Estudiante de CC&TI">
  <main class="py-10 overflow-x-hidden">
    <div id="inicio" class="w-full lg:w-[690px] mx-auto">
      <section class="py-12 sm:py-20 flex flex-col items-center">
        <img
          class="rounded-full w-20 h-20 sm:w-40 sm:h-40 mb-4"
          src="photo.jpeg"
          alt="Julio García Salas"
        />
        <div class="relative w-full flex flex-col items-center">
          <div
            class="title-bg-wrapper relative w-full flex justify-center items-center"
          >
            <div class="bg-purple-900 h-full w-0 absolute animate-reveal-bg transition">
            </div>
            <h1
              class="text-3xl sm:text-4xl font-bold text-white mb-2 opacity-0 animate-fade-in"
            >
              Julio García Salas
            </h1>
          </div>
          <div
            class="role-bg-wrapper relative w-full flex justify-center items-center"
          >
            <div
              class="bg-purple-500 h-full w-0 absolute animate-reveal-bg-second"
            >
            </div>
            <h2
              class="text-xs sm:text-2xl text-sky-200 opacity-0 animate-fade-in-second"
            >
              Estudiante de CC&TI en la Universidad del Valle de Guatemala
            </h2>
          </div>
        </div>
      </section>
      <section class="py-16 sm:py-28">
        <h3 class="text-lg sm:text-xl font-semibold text-center mb-4">
          Sociales
        </h3>
        <div class="flex justify-center gap-x-2 sm:gap-x-4">
          <Socials
            href="https://www.linkedin.com/in/julio-garcia-salas-14507930b/"
          >
            <LinkedinIcon class="w-5 h-5 sm:w-6 sm:h-6" />
            <span class="text-sm sm:text-base">Linkedin</span>
          </Socials>
          <Socials href="https://github.com/Hayser8">
            <GithubIcon class="w-5 h-5 sm:w-6 sm:h-6" />
            <span class="text-sm sm:text-base">Github</span>
          </Socials>
          <Socials href="mailto:garciasalasperezjulio@gmail.com">
            <MailIcon class="w-5 h-5 sm:w-6 sm:h-6" />
            <span class="text-sm sm:text-base">Email</span>
          </Socials>
        </div>
      </section>

      <section id="experiencia" class="py-8 px-8 sm:py-14">
        <h3 class="text-lg sm:text-xl font-semibold text-center mb-2 sm:mb-4">
          Experiencia
        </h3>
        <div class="mt-4 flex flex-col items-center">
          <Exptimeline />
        </div>
      </section>

      <section class="py-8 px-8 sm:py-14" id="proyectos">
        <h3 class="text-xl font-semibold text-center mb-6">Proyectos</h3>
        <Bentoprojects />
      </section>
      <section class="py-8 px-2 sm:py-14" id="tecnologias">
        <h3 class="text-xl font-semibold text-center">Tecnologías</h3>
        <Techstack />
      </section>
    </div>
  </main>
</Layout>
<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer components {
    .animate-fade-in {
      animation: fadeIn 2s forwards;
      animation-delay: 1.5s;
    }

    .animate-fade-in-second {
      animation: fadeIn 2s forwards;
      animation-delay: 3.5s; 
    }

    .animate-reveal-bg {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0%;
      animation:
        revealBg 1s forwards,
        hideBg 1s 1s forwards; 
    }

    .animate-reveal-bg-second {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0%;
      animation:
        revealBg 1s 2s forwards,
        hideBg 1s 3s forwards; 
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes revealBg {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }

  @keyframes hideBg {
    0% {
      width: 100%;
      left: 0;
    }
    100% {
      width: 0%;
      left: 100%;
    }
  }
</style>
