---
import Code from "./icons/Code.astro"
---
<ol class="relative border-l border-gray-200 dark:border-gray-700">
    <li class="mb-10 ml-7">
      <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-300 rounded-full -left-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
        <Code></Code>
      </span>
      <h3 class="mb-1 text-lg font-semibold text-purple-300 dark:text-white">Estudiante UVG</h3>
      <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Desde enero de 2022</time>
      <p class="text-base font-normal text-gray-500 dark:text-gray-400">Actual estudiante en Ciencias de la Computación y Tecnologías de la Información, cursando Tecnologías y Sistemas Web.</p>
    </li>
  </ol>
  