<header class="fixed top-0 left-0 right-0 flex justify-center items-center py-5 w-[1120px] mx-auto">
  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="#inicio">Inicio</a>
    <a href="#experiencia">Experiencia</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#tecnologias">Tecnologías</a>
  </nav>
</header>
